@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,800;1,400&family=Orbitron&display=swap');



body {
    background-color: #313D5A;
    font-family: Orbitron;

}

.maxContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.parrafito {
    color: #fff;
}

h1 {
    color: #A1E44D;
    text-align: center;

}

.container {
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    text-align: center;

    margin-bottom: 100px;

}

.containerRED {
    background-color: #D64045;
    border-radius: 10px;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    text-align: center;

    margin-bottom: 100px;

}

.container h2 {
    font-family: 'Alegreya';
    color: #D64045;
}

.container h3 {
    font-family: 'Alegreya';
    font-size: 20px;
}

.content {
    font-family: 'Alegreya';
    font-size: 18px;
    font-weight: bold;
}

.containerClock {
    background-color: #1a0527;
    border: solid 1px;
    border-radius: 25px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-around;
    max-width: 400px;
    margin-bottom: 10px;

}

.box {
    color: #A1E44D;
    font-family: Orbitron;
    padding: 5px;
    margin: 0 20px;
}